#此处填写Google vertex AI中的API密钥
GOOGLE_CLOUD_API_KEY=你的 APIkey

#此处填写Google vertex AI中的项目ID
GOOGLE_CLOUD_PROJECT=你的项目ID

#此处填写Google vertex AI中的地区，一般默认即可
GOOGLE_CLOUD_LOCATION=us-central1

#此处填写Yunwu中的API密钥
YUNWU_API_KEY=你的 APIkey

#此处填写Yunwu中的base_url,一般默认即可
YUNWU_BASE_URL=https://yunwu.ai

#此处填写Yunwu Kling中的路径，默认即可
YUNWU_KLING_PATH_PREFIX=/kling

#此处填写Deepseek中的API密钥
DEEPSEEK_API_KEY=你的 APIkey

#以下是Kling官方API信息，仅替换ACCESS_KEY、SECRET_KEY即可
KLING_ACCESS_KEY=你的 AccessKey

KLING_SECRET_KEY=你的 SecretKey

KLING_API_BASE=https://api-beijing.klingai.com